fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
slowapi
pytest-asyncio
pytest
httpx
fastapi-users[sqlalchemy,jwt]
redis[hiredis]
loguru
llama-index
llama-index-core
llama-index-llms-ollama
llama-index-vector-stores-neo4jvector
python-dotenv
neo4j
neomodel
numpy
